<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.kujio.android.kandroidutils">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <activity
                android:name=".KCrashActivity"
                android:exported="true"/>

        <provider
                android:name=".KInitProvider"
                android:authorities="${applicationId}.kandroidutils-init-provider"
                android:enabled="true"
                android:exported="false"
                android:multiprocess="true">
        </provider>
    </application>

</manifest>